#!/usr/bin/make -f

debian/xvlogo.gif:
	wget http://www.trilon.com/xv/manual/xv-3.10a/images/xvlogo.gif -O $@

debian/xv.png: debian/xvlogo.gif
	convert $^ -resize 32x32 -background none -gravity center -extent 32x32 $@
	$(RM) $^

debian/xv.xpm: debian/xv.png
	convert $^ $@

%:
	dh $@

override_dh_auto_build:
	dh_auto_build -- \
		PREFIX=/usr \
		CCOPTS="$(CFLAGS) $(CPPFLAGS) $(LDFLAGS)"

override_dh_auto_install:
	dh_auto_install -- PREFIX=/usr

override_dh_installdocs:
	dh_installdocs --all README*
